.sectionsContainer .sections .section .tab-content p {
  font-size: 0.9rem;
}

#chart {
  max-width: 900px;
}

.table td, .table th {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 0.8rem;
}

.sectionsContainer .icon {
  margin-right: 15px;
}

.btn-light {
  background-color: #e6e4e3;
  border-color: #e6e4e3;
}

.row {
  margin-top: 10px;
}

.dropdown {
  margin-top: 10px;
  margin-bottom: 10px;
}

#results1 {
  margin-top: 10px;
}

.margintop {
  margin-top: 25px;
}

.marginbottom {
  margin-bottom: 20px;
}

#questionlong {
  margin-bottom: 30px;
}

#nid {
  color: #ff9800;
}

.container {
  margin-top: 30px;
}

.filter {
  max-width: 270px;
}

h1, h2, h3, h4, h5 {
  color: #647f99;
}

/* .container2 {
  margin: 18px;
} */

#chart2, #chart3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollable-menu {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.dropdown button {
  width: 220px;
}

.dropdown a:hover {
  cursor: pointer;
}

.dropdownMenuButton {
  text-align: left;
  padding-right: 35px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.drophelp .dropdown-toggle::after {
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -2px;
  vertical-align: middle;
}

#chart3 text {
  fill: #666;
  font-size: 14px;
}

#chart3 .legendText text {
  font-size: 10px;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #2f72b0;
}

#chartHelpText {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: italic;
}

.maxWidth {
  max-width: 910px;
}

a.btn {
  background-color: #2f72b0;
  margin-bottom: 45px;
  margin-top: 10px;
}

a.btn:hover {
  background-color: #285080;
}

.card-header, a {
  color: #2f72b0;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-header a:hover {
  color: #285080;
  text-decoration: none;
}

.linHigh {
  line-height: 1.6em !important;
  margin-top: 30px;
  max-width: 900px;
}

[data-toggle="collapse"]:after {
  display: inline-block;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  transform: rotate(90deg);
  transition: all linear 0.25s;
  float: right;
}

[data-section="e"] {
  padding-bottom: 40px;
}

[data-section="d"] {
  padding-bottom: 40px;
}

[data-toggle="collapse"].collapsed:after {
  transform: rotate(0deg);
}

.helpWidth {
  max-width: 900px;
  margin-bottom: 60px;
}

.helpWidth {
  width: 100%;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #2c3e50;
  background-color: white;
}

.header {
  padding: 30px 50px;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./bisurvey.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  height:60vh;
  margin-top:0px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;

}

.head2 {
  margin-top:40px;
}

.marginHelper {
  margin-top:15px;
}



.tabContainer {
  padding: 0 50px;
  max-width:75rem;
  margin-left:auto;
  margin-right:auto;
  margin-top:-50px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
  z-index:2;
  background-color:white;
}

.tabContainer .tabs {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.tabContainer .tabs .tab {
  display: block;
  padding: 35px;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  color: #90a1b1;
}

.tabContainer .tabs .tab .icon, .tabContainer .tabs .tab .text {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.tabContainer .tabs .tab .icon {
  font-size: 30px;
}

.tabContainer .tabs .tab .text {
  font-size: 16px;
  margin-left: 10px;
}

.tabContainer .tabs .tab.active {
  color: #ff9800;
  font-weight: 300;
}

.tabContainer .tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 3px;
  background: #ff9800;
}

.sectionsContainer {
  padding: 30px 0 0;
}

.sectionsContainer .sections .section {
  display: none;
}

.sectionsContainer .sections .section p {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 25px;
}

.sectionsContainer .sections .section.active {
  display: block;
}

@media screen and (max-width: 1200px) {
  .tabContainer .tabs .tab .text {
    font-size: 13px;
  }
  .tabContainer .tabs .tab .icon {
    font-size: 20px;
  }
}

@media screen and (max-width: 960px) {
  .tabContainer .tabs .tab .text {
    display: none;
  }
}

select.bs-select-hidden, select.selectpicker {
  display: none !important;
}

.bootstrap-select {
  width: 220px \9;
}

.bootstrap-select>.dropdown-toggle {
  position: relative;
  width: 100%;
  padding-right: 25px;
  z-index: 1;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
  color: #999;
}

.bootstrap-select>select {
  position: absolute !important;
  bottom: 0;
  left: 50%;
  display: block !important;
  width: 0.5px !important;
  height: 100% !important;
  padding: 0 !important;
  opacity: 0 !important;
  border: none;
}

.bootstrap-select>select.mobile-device {
  top: 0;
  left: 0;
  display: block !important;
  width: 100% !important;
  z-index: 2;
}

.bootstrap-select.is-invalid .dropdown-toggle, .error .bootstrap-select .dropdown-toggle, .has-error .bootstrap-select .dropdown-toggle, .was-validated .bootstrap-select .selectpicker:invalid+.dropdown-toggle {
  border-color: #b94a48;
}

.bootstrap-select.is-valid .dropdown-toggle, .was-validated .bootstrap-select .selectpicker:valid+.dropdown-toggle {
  border-color: #28a745;
}

.bootstrap-select.fit-width {
  width: auto !important;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 220px;
}

.bootstrap-select .dropdown-toggle:focus {
  outline: thin dotted #333 !important;
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}

.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none;
}

.bootstrap-select.form-control:not([class*=col-]) {
  width: 100%;
}

.bootstrap-select.form-control.input-group-btn {
  z-index: auto;
}

.bootstrap-select.form-control.input-group-btn:not(:first-child):not(:last-child)>.btn {
  border-radius: 0;
}

.bootstrap-select:not(.input-group-btn), .bootstrap-select[class*=col-] {
  float: none;
  display: inline-block;
  margin-left: 0;
}

.bootstrap-select.dropdown-menu-right, .bootstrap-select[class*=col-].dropdown-menu-right, .row .bootstrap-select[class*=col-].dropdown-menu-right {
  float: right;
}

.form-group .bootstrap-select, .form-horizontal .bootstrap-select, .form-inline .bootstrap-select {
  margin-bottom: 0;
}

.form-group-lg .bootstrap-select.form-control, .form-group-sm .bootstrap-select.form-control {
  padding: 0;
}

.form-group-lg .bootstrap-select.form-control .dropdown-toggle, .form-group-sm .bootstrap-select.form-control .dropdown-toggle {
  height: 100%;
  font-size: inherit;
  line-height: inherit;
  border-radius: inherit;
}

.form-inline .bootstrap-select .form-control {
  width: 100%;
}

.bootstrap-select.disabled, .bootstrap-select>.disabled {
  cursor: not-allowed;
}

.bootstrap-select.disabled:focus, .bootstrap-select>.disabled:focus {
  outline: 0 !important;
}

.bootstrap-select.bs-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 0 !important;
  padding: 0 !important;
}

.bootstrap-select.bs-container .dropdown-menu {
  z-index: 1060;
}

.bootstrap-select .dropdown-toggle:before {
  content: '';
  display: inline-block;
  width: 100%;
}

.bootstrap-select .dropdown-toggle .filter-option {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: inherit;
  padding-right: inherit;
  padding-left: inherit;
  overflow: hidden;
  width: 100%;
  text-align: left;
}

.bootstrap-select .dropdown-toggle .filter-option-inner {
  overflow: hidden;
}

.bootstrap-select .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
}

.bootstrap-select[class*=col-] .dropdown-toggle {
  width: 100%;
}

.bootstrap-select .dropdown-menu {
  min-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bootstrap-select .dropdown-menu>.inner:focus {
  outline: 0 !important;
}

.bootstrap-select .dropdown-menu.inner {
  position: static;
  float: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bootstrap-select .dropdown-menu li {
  position: relative;
}

.bootstrap-select .dropdown-menu li.active small {
  color: #fff;
}

.bootstrap-select .dropdown-menu li.disabled a {
  cursor: not-allowed;
}

.bootstrap-select .dropdown-menu li a {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bootstrap-select .dropdown-menu li a.opt {
  position: relative;
  padding-left: 2.25em;
}

.bootstrap-select .dropdown-menu li a span.check-mark {
  display: none;
}

.bootstrap-select .dropdown-menu li a span.text {
  display: inline-block;
}

.bootstrap-select .dropdown-menu li small {
  padding-left: 0.5em;
}

.bootstrap-select .dropdown-menu .notify {
  position: absolute;
  bottom: 5px;
  width: 96%;
  margin: 0 2%;
  min-height: 26px;
  padding: 3px 5px;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  pointer-events: none;
  opacity: 0.9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bootstrap-select .no-results {
  padding: 3px;
  background: #f5f5f5;
  margin: 0 5px;
  white-space: nowrap;
}

.bootstrap-select.fit-width .dropdown-toggle .filter-option {
  position: static;
}

.bootstrap-select.fit-width .dropdown-toggle .caret {
  position: static;
  top: auto;
  margin-top: -1px;
}

.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  top: 5px;
}

.bootstrap-select.show-tick .dropdown-menu li a span.text {
  margin-right: 34px;
}

.bootstrap-select .bs-ok-default:after {
  content: '';
  display: block;
  width: 0.5em;
  height: 1em;
  border-style: solid;
  border-width: 0 0.26em 0.26em 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bootstrap-select.show-menu-arrow.open>.dropdown-toggle {
  z-index: 1061;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(204, 204, 204, .2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
  bottom: auto;
  top: -3px;
  border-top: 7px solid rgba(204, 204, 204, .2);
  border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
  bottom: auto;
  top: -3px;
  border-top: 6px solid #fff;
  border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
  right: 12px;
  left: auto;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
  right: 13px;
  left: auto;
}

.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:after, .bootstrap-select.show-menu-arrow.open>.dropdown-toggle:before {
  display: block;
}

.bs-actionsbox, .bs-donebutton, .bs-searchbox {
  padding: 4px 8px;
}

.bs-actionsbox {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bs-actionsbox .btn-group button {
  width: 50%;
}

.bs-donebutton {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bs-donebutton .btn-group button {
  width: 100%;
}

.bs-searchbox+.bs-actionsbox {
  padding: 0 8px 4px;
}

.bs-searchbox .form-control {
  margin-bottom: 0;
  width: 100%;
  float: none;
}

.filler {
  max-width: 60rem;
  margin: 90px auto 5rem auto;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
  color: gray;
  font-style: italic;
}

.filler h2 {
  font-style: normal;
  margin-bottom: 2.5rem;
}

.sectionsContainer .sections .section p.fillerp {
  line-height: 1.8rem;
  font-weight: 400;
}

#scrolly-side .scrolly {
  display: flex;
  max-width: 80rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding: 1rem;
}

#scrolly-side .scrolly>* {
  flex: 1;
}

#scrolly-side .scrolly article {
  padding-right: 1rem;
  max-width: 30rem;
}

#scrolly-side .scrolly article .step {
  min-height: 50vh;
  opacity: 0.2;
  transition: opacity 250ms ease-in-out;
}

#scrolly-side .scrolly article .step:last-of-type {
  margin-bottom: 0;
}

#scrolly-side .scrolly article .step.is-active {
  opacity: 1;
}

#scrolly-side .scrolly article .step p {
  margin: 0;
  padding: 1rem;
  text-align: left;
  line-height: 1.5;
  font-weight: 400;
  color: gray;
}

#scrolly-side .scrolly article .step h3 {
  margin: 0;
  padding-left: 1rem;
  text-align: left;
  color: gray;
}

#scrolly-side .scrolly article .step h3.specialh3 {
  font-size: 1.6rem
}

#scrolly-side .scrolly figure.sticky {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 60vh;
  max-height:600px;
  margin: 0 40px 0 80px 0;
  top: 25vh;
  left: 0;
}

.centertest2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
}



@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce {
  animation: bounce 1s ease-in-out infinite;
  -moz-animation: bounce 1s ease-in-out infinite;
  -webkit-animation: bounce ease-in-out 1s infinite;
}

.bounce {
  color: #ff9800;
}

.fa-angle-double-down {
  color: #ff9800;
}

#arrow p {
  margin-bottom: 5px;
}

.step .btn-sm {
  margin-top: 1rem;
}

.buttongroup {
  margin: 2rem 1rem 1rem 1rem;
}

.btn-custom {
  color: white;
  background-color: #ff9800;
  border-color: #ff9800;
}

.btn-custom:hover, .btn-custom:active, .btn-custom.active, .open .dropdown-toggle.btn-custom {
  color: white;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-custom:active, .btn-custom.active, .btn-custom:focus {
  box-shadow: 0 0 0 0.3rem rgba(255, 152, 0, 0.5);
}

.active-button {
  box-shadow: 0 0 0 0.3rem rgba(255, 152, 0, 0.5);
  background-color: #ed9c31;
}

.btn-custom:active, .btn-custom.active, .open .dropdown-toggle.btn-custom {
  background-image: none;
}

.btn-custom.disabled, .btn-custom[disabled], fieldset[disabled] .btn-custom, .btn-custom.disabled:hover, .btn-custom[disabled]:hover, fieldset[disabled] .btn-custom:hover, .btn-custom.disabled:focus, .btn-custom[disabled]:focus, fieldset[disabled] .btn-custom:focus, .btn-custom.disabled:active, .btn-custom[disabled]:active, fieldset[disabled] .btn-custom:active, .btn-custom.disabled.active, .btn-custom[disabled].active, fieldset[disabled] .btn-custom.active {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-custom .badge {
  color: #ff9800;
  background-color: white;
}

.chartTitle {
  fill: #647f99;
  font-size: 1.75rem;
}

.peerGroupDesc {
  fill: #647f99;
  font-size: 1rem;
  font-style: italic;
}

.legend {
  fill: #647f99;
  font-size: 0.9rem;
  font-style: italic;
}

.filterrow {
  display: flex;
  padding: 1rem .5rem 1rem 1rem;
}

.filterrow .filter:first-child {
  margin-right: 2rem;
}

.filterrow .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}

.specialh4 {
  color: LightGrey;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 1rem;
}

.filterrow .filter2 {
  width: 100%;
}

.min-height {
  height: 25vh
}

.filter2 .filter-option-inner-inner {
  text-align: center;
  color: gray;
}

.filter2 .buttongroup {
  margin: 1.4rem 0rem 1rem
}

.navbar {
  background-color: rgba(70, 89, 107, 1);
  color: white;
  height: 80px;
  padding: 0 68px
}

footer {
  background-color: rgba(70, 89, 107, 1);
  text-align: center;
  color: #dce8f4;
}

.footerdiv {
  font-size: 0.8rem;
  padding: 40px 68px;
}

footer a {
  color: white;
}

footer a:hover {
  color: #dce8f4;
}

.disclaimer {
  padding-bottom: 50px;
  padding: 40px 68px;
  color: rgba(70, 89, 107, 1);
  background-color: #dce8f4;
  line-height:1.7rem;
}

.footerdiv a {
  text-decoration:underline;
}

.disclaimer a {
  color: #698099;
  padding: 0;
}

.disclaimer a:hover {
  color: rgba(70, 89, 107, 1);
}

#end2 {
  margin-bottom:0rem;
}


.btn.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    right: 40px;
    display:none;
    background-color:#ff9800;
    border:none;
}

.btn.back-to-top:hover, .btn.back-to-top:active {
    background-color:#ffc107;

}

.fillerp a {
  margin:0px;
  padding:0px;
}

#end .fillerp, #end2 .fillerp {
  font-style:normal;
  text-align:left;
  line-height:1.9rem;
}

.sectionsContainer .sections .section .closer p {
  margin-top:50px;
  line-height:1.8rem;
}

.closer .btn {
  min-height:100px;
  max-width:250px;
  margin:0 auto;
  white-space: normal;
  border-color: #ff9800;
border-width:2px;
  padding:25px;
}

.closer .btn:hover {

  border-color: #ffc107;

}

#specialbtn {
  background-color:rgba(70, 89, 107, 1);
  color:white;
    border-color: white;
    border-width:2px;
}

#specialbtn:hover {
  background-color:#ff9800;
  color:white;
  border-color: #ff9800;
}


.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

#end  h2, #end2 h2 {

  color:white;
  padding-bottom:20px;
}

 #end2 h2 {

  color:#698099;
  padding-bottom:20px;
}

#end {
  background-color:rgba(70, 89, 107, 1);
  padding-top:100px;
  padding-bottom:100px;
  margin-bottom:0px;
  color:white;
  max-width:100%;

}

#end2 {
  background-color:#dce8f4;
  padding-top:100px;
  padding-bottom:100px;
  margin-bottom:0px;
  color:#46596b;
  max-width:100%;

}

#end2, #end {
    margin-top:0px;
}

#end2 {
    margin-top:90px;
}
.centering {
  max-width:80rem;
  margin:0 auto;
}

.navwide {
  max-width:80rem;
  display:block;
  margin:0 auto;
}

.navwide1 {
 background-color:rgba(70, 89, 107, 1);
}

.navbar {
  padding:2rem;
}

.navwide2 {
  background-color:#dce8f4;
}


h1 {
  font-size: 3rem;
  color: white;
  text-align:center;
}

.logo {
  max-width:350px;
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-bottom2 {
	-webkit-animation: fade-in-bottom2 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
	        animation: fade-in-bottom2 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
}

@-webkit-keyframes fade-in-bottom2 {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom2 {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
